.container-footer{
    background-color: #B66B55;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    color:white;
}
hr{
    margin:37px 0px;
    width:1339px;
    border: 1px solid #DEDDDB;
}
p{
    color:white;
    margin:0px 681px 38px;
}