
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    max-width:100%;
    display:block;
}
.bgcolor-header{
background-color:#B66B55;
width:min(16020px,100%);

}
h1{
    margin:32px 17px;
    
    color:white;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif; 
}
.img-logo{
    margin:10px;
}
.logo{
    display: flex;
}
.flex{
    
    display: flex;
    justify-content: space-between;
}
img{
    object-fit: contain;
}
