section{
    
    height:811px;
    background-color: #799988;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
}
h2{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
    color: #F7F6F3;
    margin:123px 528px 64px;
}
.product{
margin:0px 566px 114px;
}